<section class="hero">
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-full">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-link">
            <p class="title is-4">Ranking dos Politicos</p>
            <% @scores.each_with_index do |score, index| %>
              <div class="box">
                <article class="media">
                  <div class="media-left">
                    <span class="tag is-success is-medium"><%= index + 1 %></span>
                  </div>
                  <div class="media-right media-left">
                    <figure class="image is-128x128">
                      <%= image_tag score.politician.photo, class: 'image is-128x128'%>
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">

                      <p>
                        <strong><%= score.politician.name %> </strong>
                        <br>
                        <%= score.politician.party %>/<%= score.politician.state %>
                        <br>
                        <%= score.rating %> points
                      </p>
                    </div>
                  </div>
                </article>
              </div>
            <% end %>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <%= paginate @scores %>
</div>
